<div class="flex m-auto h-screen justify-center">
    <form class="rounded-lg border m-auto w-1/2" (submit)="submit()" #myForm="ngForm">
        <h1 class="text-xl text-center font-semibold">Register</h1>
        <div class="p-5 w-full">
            <label for="emai">Email</label>
            <input  type="email" 
                    class="p-2 rounded w-full border text-sm"
                    placeholder="Email Address"
                    [(ngModel)]="form.email" 
                    name="email" 
                    #email="ngModel" required >
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-3 mr-5 ml-5 bg-red-300 text-red-900 rounded"> 
            Email field must be valid
        </div>
        <!-- {{ form.email }} -->
        <div class="p-5 w-full">
            <label for="password">Password</label>
            <input  type="password" 
                    class="p-2 rounded w-full border" 
                    placeholder="Password"  
                    [(ngModel)]="form.password" 
                    name="password"
                    #password="ngModel" required>
        </div >
        <div *ngIf="password.invalid && (password.dirty || password.touched)"  class="p-4 mr-5 ml-5 bg-red-300 text-red-900 rounded"> 
            Password field must be valid
        </div>
        <!-- {{ form.password }} -->
        <div class="p-5 w-full">
            <label for="password">Password</label>
            <input  type="password" 
                    class="p-2 rounded w-full border" 
                    placeholder="Confirm Password" 
                    [(ngModel)]="form.password2" 
                    name="password2"
                    #password2="ngModel" required>
        </div >
        <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="p-4 mr-5 ml-5 bg-red-300 text-red-900 rounded"> 
            Confirm Password field must be valid
        </div>
        <!-- {{ form.password2 }} -->
        <div class="p-5 w-full">
            <input type="submit" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded" 
            [disabled]="myForm.form.invalid"> 
        </div>
    </form>
</div>