<p>books List</p>

<!-- property binding [attr] = name_of_var | it depends on datatype-->
<!-- user for buttons -->
<!-- <button (click)="toggleBooks()">Toggle books</button> -->
<button (click)="isShowing = !isShowing">Toggle books</button>
<!-- Event Handler -->
<!-- <Tag (action)="finctionCall()" > -->

<!-- Two way binding  -->
<!-- <input type="text" (input)="handleInput($event)" /> -->
<input type="text" [(ngModel)]="inputStr" />

<p>{{inputStr}}</p>

<ul *ngIf="isShowing" >
    <li>
        <!-- property binding [attr] = name_of_var -->
        <img src="{{img1}}" alt="{{name1}}" width="100">
        {{ name1 }} by {{ author1 }}
    </li>
    <li>
        <!-- interpolation user {{}} treates as string -->
        <img src="{{img1}}" alt="{{name1}}" width="100">
        {{ name1 }} by {{ author1 }}
    </li>
    <li>
        <img src="{{img1}}" alt="{{name1}}" width="100">
        {{ name1 }} by {{ author1 }}
    </li>
</ul>