<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <a routerLink="">Book Shop</a>
    </div>
    <div>
        <a routerLink="cart" class="p-1 m-1">My Cart</a>

        <ng-container *ngIf="!isAuthenticated()">
            <a routerLink="login" class="p-1 m-1">Login</a>
            <a routerLink="signup" class="p-1 m-1">Signup</a>
        </ng-container>

        <ng-container *ngIf="isAuthenticated()">
            <button class="p-1 m-1">logout</button>
        </ng-container>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>